.health {
   color: #2D89FF;
}

.priority {
   color: #642DFF;
}

.regCheck {
   background-color: #642DFF;
}

.plusBg {
   background-color: #2D89FF;
}

.zInCard {
   position: relative;
   z-index: 10000;
}

.zInImg {
   z-index: -10000;
}